<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:inlines="text">上传excel</h1>
    <form action="/excel/import" method="post" enctype="multipart/form-data">
        <p><input type="file" name="fileName"/></p>
        <p><input type="submit" value="导入"/></p>
    </form>
    <form action="/excel/export" method="post" enctype="multipart/form-data">
        <p><input type="submit" value="导出"/></p>
    </form>
</body>
</html>